.vranger {
    margin-top: 50px;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg); /*do same for other browsers if required*/
}
/*
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 20px;
    width: 50px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; 
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
}
*/